In [9]:
import pandas as pd
import numpy as np
import itertools

In [10]:
bees = pd.read_excel('Extra Data/Bees.xlsx') #initial dataset
unique = pd.read_excel('Extra Data/ViceCounty.xlsx') #unique combinations of counties and species used to group points by counties from PowerBI

In [11]:
bees.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103871 entries, 0 to 103870
Data columns (total 24 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   ViceCounty            103871 non-null  object
 1   Transect lat          103871 non-null  float64
 2   Transect long         103871 non-null  float64
 3   H1                    88052 non-null   object
 4   H2                    52900 non-null   object
 5   H3                    27874 non-null   object
 6   H4                    12301 non-null   object
 7   habitat_description   55238 non-null   object
 8   L1                    83973 non-null   object
 9   L2                    29874 non-null   object
 10  sunshine              98974 non-null   object
 11  wind_speed            98686 non-null   object
 12  temperature           95026 non-null   float64
 13  species               103871 non-null  object
 14  queens                103871 non-null  int64
 15  workers               103871 non-null  int64
 16  males                 103871 non-null  int64
 17  unknown               103871 non-null  int64
 18  Comment               7074 non-null    object
 19  flower_visited        48600 non-null   object
 20  land_use_description  41138 non-null   object
 21  Total                 103871 non-null  int64
 22  CountySpecies         103871 non-null  object
 23  Agg Present           103871 non-null  int64
dtypes: float64(3), int64(6), object(15)
memory usage: 19.0+ MB

In [12]:
unique['Agg Total'] = 0 #initialising the total columns

#grouping point with the same county and species
for i in range(len(unique['CountySpecies'])): 
    comb = unique['CountySpecies'][i]
    q = np.sum(bees.query('CountySpecies == @comb')['Total'])
    unique.iloc[i, 3] = q

In [13]:
unique['Agg Present'] = np.where(unique['Agg Total'] >= 1, 1, 0) #turn total column into binary indicator

unique.to_csv('uniquepresent.csv',index = False)

In [14]:
coords = bees[['Transect lat', 'Transect long', 'species', 'Total']]

coords = coords.rename(columns = {'Transect lat':'Lat', 'Transect long':'Long', 'species': 'Species'})

# rounding the coordinates to 4 significant figues
coords[['Lat', 'Long']] = coords[['Lat', 'Long']].applymap(lambda x: round(x, 3 - int(np.floor(np.log10(abs(x))))))

In [15]:
#finding all unique sets of coordinates
combinations = set()
for _, row in coords.iterrows():
    vals = (row['Lat'], row['Long'])
    if vals not in combinations:
        combinations.add(vals)

In [17]:
uniquespecies = unique['Species'].unique()

# grouping points by coordinates and species and also using a binary indicator target variable
summedcoords = coords.groupby(['Lat', 'Long', 'Species']).sum()

summedcoords = summedcoords.reset_index()

summedcoords['Present'] = np.where(summedcoords['Total'] >= 1, 1, 0)

In [18]:
finaldf = summedcoords

# create a row for all combinations of species and coordinates to include 
# the missing negative cases and grouping nearby points
for i, j in itertools.product(combinations, uniquespecies):
    lat = i[0]
    long = i[1]
    q = summedcoords.query('Lat == @lat and Long == @long and Species == @j')
    if len(q) == 0:
        newrow = pd.DataFrame({'Lat': [lat], 'Long': [long], 'Species': [j], 'Total': [0], 'Present': [0]})
        finaldf = pd.concat([finaldf, newrow], ignore_index=True)

In [25]:
finaldf.to_csv('coords_species.csv',index = False)